<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar">
        <a class="navbar-brand text-white"><strong>PhotoBox</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">О проекте <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
              <li *ngIf="isUserAuthorized()" class="nav-item">
                <a class="nav-link">
                  <i class="fa fa-user"></i> {{currentUserLogin()}}
                </a>
              </li>
              <li *ngIf="!isUserAuthorized()" class="nav-item">
                  <a class="nav-link" [routerLink]="'/login'">
                    <i class="fa fa-home"></i>Вход
                  </a>
              </li>
              <li *ngIf="isUserAuthorized()" class="nav-item">
                <a class="nav-link" (click)="logOut()">
                  <i class="fa fa-lock"></i>Выход
                </a>
              </li>
            </ul>
        </div>
    </nav>
</header>
