<div style="display:flex; justify-content: space-between; align-items: center;">
  <div>
    <h5>{{activeAlbum.title}}</h5>
  </div>
  <div>
    <app-search></app-search>
    <button mat-icon-button color="primary" (click)="confirmDelete()" [disabled]="!isSmthPhotoSelected()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
<hr/>
<div style="height: 400px; overflow-y: scroll;">
    <div class="row">
      <div *ngFor="let photo of activeAlbum.photoList" class="col-md-3 photo-container">
        <div >
          <div>
            <img [src]="getResourceUrl(photo)" class="photo-preview" (click)="launchPhotoPreview(photo)">
          </div>
          <div style="margin: 5px; float: right;">
            <mat-checkbox [color]="'primary'" (change)="setSelected($event, photo)"></mat-checkbox>
          </div>
        </div>
      </div>
    </div>
</div>
<hr/>
<div class="float-right">
  <button type="button" class="btn btn-indigo px-3" (click)="launchAddPhotoModal()" style="border-radius: 50%;">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>
