<div class="row align-items-center justify-content-center py-2">
  <div class="col-md-4">
    <div style="display:flex;">
      <div>
        <h4 class="mb-2">Вход</h4>
      </div>
      <div>
        <mat-spinner *ngIf="isProcessed" [diameter]="20" [strokeWidth]="2" style="margin: 5px;"></mat-spinner>
      </div>
    </div>
    <label *ngIf="signInFailedShow" class="alert alert-danger" style="width:100%">
      Авторизация не удалась. Попробуйте снова!
    </label>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Логин" [(ngModel)] = "currentUser.login"/>
    </mat-form-field>
    <br/>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Пароль" type="password" [(ngModel)] = "currentUser.password"/>
    </mat-form-field>
    <br/>
    <button mat-raised-button [color]="'primary'" style="font-weight: normal" (click)="login()">войти</button>
  </div>
  <br/>
</div>
