<div class="row align-items-center justify-content-center">
  <div class="col-md-4 py-2">
    <h5>Вход</h5>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Логин"/>
    </mat-form-field>
    <br/>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Пароль" type="password"/>
    </mat-form-field>
    <br/>
    <button mat-raised-button [color]="'primary'" style="font-weight: normal">войти</button>
    <!--<button type="button" class="btn btn-indigo px-3">войти</button> -->
  </div>
</div>
