<div class="row">
  <div class="col-md-12">
    <h4 mat-dialog-title>Добавление нового фото</h4>
  </div>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <input type="file" value="choose file" accept="image/*" (change)="onChangeFileField($event)">
    </div>
  </div>
  <div class="row py-2">
    <div class="col-md-12">
      <mat-form-field style="width:100% !important;">
        <textarea matInput placeholder="Description" [(ngModel)]="newPhoto.description"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="float-right">
      <button mat-button cdkFocusInitial [mat-dialog-close]="newPhoto">ok</button>
      <button mat-button (click)="onCancelModalBtnClick()">отмена</button>
    </div>
  </div>
</div>

